* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    border-radius: 8px;
    padding: 4px 8px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #D3D3D3, #2F2F2F) 1 stretch;
    border-radius: 12px;
    margin: 20px 20px 0 20px;
}
#custom-arch {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

#clock.date {
    color: #ffffff;
    font-weight: bold;
}

#custom-spotify {
    color: #ffffff;
    font-size: 16px;
    padding-left: 10px;
}

#clock {
    color: #FFFFFF;
    font-weight: bold;
}

#custom-cache {
    color: #D3D3D3;
    margin-left: 12px;
}

#cpu, #memory, #disk, #battery {
    color: #D3D3D3;
    margin-right: 12px;
}

#custom-vram {
    color: #D3D3D3;
    margin-left: 12px;
}